extends layout

include mixins/_storeCard
include mixins/_menuItemCard

block content
  .inner
    h2 #{tag || 'Tags'}
    h7 Restaurants:
    ul.tags
      each t in tags
        li.tag
          a.tag__link(href=`/tags/${t._id}` class=(t._id === tag ? 'tag__link--active' : ''))
            span.tag__text= t._id
            span.tag__count= t.count
    h7 Menu Items:
    ul.tags
      each t in itemTags
        li.tag
          a.tag__link(href=`/tags/${t._id}` class=(t._id === tag ? 'tag__link--active' : ''))
            span.tag__text= t._id
            span.tag__count= t.count
  .stores
    each store in stores
      +storeCard(store)
    each item in items
      +menuItemCard(item)
