mixin menuItemForm(menuItem = {})
  form(action=`/menuitems/add/${menuItem._id || ''}` method="POST" class="add-menu-item-card" enctype="multipart/form-data")
    div.form-group
      label(for="name") Name
      input(type="text" name="name" placeholder="Add Menu Item" value=menuItem.name)

    div.form-group
      label(for="store-name") Restaurant:
      input#favoriteBook.form-control(name='store' type='text', list='storeslist' placeholder='Where You Ate this Food/Drink' )
      datalist(id='storeslist')
        each store in stores
          option(value=`${store.name}` class="restaurant")

    div.form-group
      label(for="description") Description
      textarea(type="text" name="description" class="form-control")= menuItem.description

    div.form-group
      label(for="photo") Photo
        .input-btn
          input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
        if menuItem.photo
          img(src=`/uploads/${menuItem.photo}`, alt=menuItem.name width=200)

    - const choices = ['Vegetarian', 'Vegan', 'Spicy', 'Mild', 'Vietnamese', 'Greek', 'Italian', 'Pakistani', 'Fillipino', 'Thai', 'Japanese', 'Chinese', 'Indian', 'Spanish', 'French', 'Mexican', 'Korean', 'American']
    h7 Type of Cuisine:
    ul.tags(style='display: flex;')
    - const tags = menuItem.tags || []
      .allTags(style='display: flex; flex-wrap: wrap;')
        each choice in choices
          .tag.tag__choice(style='display: flex;')
            input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
            label(for=choice) #{choice}
    input(type="submit" value="Save -<" class="button")
